#left-corner {
    position: relative;
    left:25%;
    display: inline-block;
    }
    #right-corner {
       float: right;
       display: inline-block;
    }
    #logo {
       position: absolute;
       top: 0%;
    }
    header{
       margin: 20px auto 50px auto;
    }
    header p {
       margin-left: 70px;
    }
    #topborder {
       background-color: gray;
       display: inline-block;
       width: 50%;
       color: gray;
       position: relative;
       top: 50px;
    }
    h1 {
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bold;
       font-size: 2em;
       position: absolute;
       left: 25%;
    }
    #postdate{
       font-size: 10px;
       position: absolute;
       left: 25%;
       padding: 0px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 40px;
    }
    #choco-pizza {
       position: absolute;
       left: 25%;
       width: 50%;
       padding: 0px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 60px;
    }
    #recipe {
       position: relative;
       top: 550px;
       width: 50%;
       left: 25%;
    }
    #left-side-ingredients {
       position: relative;
       top: 600px;
       /* width: 50%; */
       left: 30%;
       z-index: 10;
    }
    #right-side-ingredients {
       position: relative;
       top: 505px;
       /* width: 50%; */
       left: 55%;
       z-index: 10;
    }
    #ingredients {
       position: relative;
       top: 400px;
       width: 55%;
       left: 25%;
       z-index: 1;
    }
    #bottomborder {
       background-color: gray;
       position: relative;
       width: 50%;
       top: 450px;
       left: 25%;
       color: gray;
    }
    #vanessa {
       position: relative;
       top: 475px;
       left: 25%;
       float: left;
    }
    footer p {
       position: relative;
       top: 475px;
       left: 25%;
    }
    #share {
       background-color: rgb(202, 69, 7);
       position: relative;
       top: 450px;
       left: 65%;
       color: white;
    }
    #tinydancer {
       position: relative;
       top: 550px;
       left: 40%;
=======
        float: right;
        display: inline-block;
    }
    #logo {
        position: absolute;
        top: 0%;
    }
    header{
        margin: 20px auto 50px auto;
    }
    header p {
        margin-left: 70px;
    }
    #topborder {
        background-color: gray;
        display: inline-block;
        width: 50%;
        color: gray;
        position: relative;
        top: 50px;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;  
        font-weight: bold;
        font-size: 2em;
        position: absolute;
        left: 25%;
    }
    #postdate{
        font-size: 10px;
        position: absolute;
        left: 25%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
    #choco-pizza {
        position: absolute;
        left: 25%;
        width: 50%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    #recipe {
        position: relative;
        top: 550px;
        width: 50%;
        left: 25%;
    }
    #left-side-ingredients {
        position: relative;
        top: 600px;
        /* width: 50%; */
        left: 30%;
        z-index: 10;
    }
    #right-side-ingredients {
        position: relative;
        top: 505px;
        /* width: 50%; */
        left: 55%;
        z-index: 10;
    }
    #ingredients {
        position: relative;
        top: 400px;
        width: 55%;
        left: 25%;
        z-index: 1;
    }
    #bottomborder {
        background-color: gray;
        position: relative;
        width: 50%;
        top: 450px;
        left: 25%;
        color: gray;
    }
    #vanessa {
        position: relative;
        top: 475px;
        left: 25%;
        float: left;
    }
    footer p {
        position: relative;
        top: 475px;
        left: 25%;
    }
    #share {
        background-color: rgb(202, 69, 7);
        position: relative;
        top: 450px;
        left: 65%;
        color: white;
    }
    #tinydancer {
        position: relative;
        top: 550px;
        left: 40%;
}